body{
  font-family: 'Roboto', sans-serif;
  width: 80%;
  margin:0 auto 0 auto;
  height: 100vh;
}

.App {
  height: 100vh;
    background-position: top;
    background-repeat: no-repeat;
    text-align: center;
    /* background-image: url(https://i0.wp.com/images-prod.healthline.com/hlcmsresource/images/AN_images/healthy-eating-ingredients-1296x728-header.jpg?w=1155&h=1528); */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
a{
  text-decoration: none;
  color: black;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons");


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.burger-btn {
  color: white;
  font-size: 29px!important;
  position: absolute;
    right: 0;
}

.Collection a{
  color: inherit;
  text-shadow: -1px 1px #dedede;
}
.item-title 
{ grid-area: title; 
  position: relative;
}
.item-description { 
  grid-area: description;
  padding-bottom: 15px; 
}
.item-serves { grid-area: serves; }
.item-cuisine { grid-area: cuisine; }
.item-categories {grid-area: categories; }
.item-cookingT { grid-area: cookingT; }
.item-preparationT { grid-area: preparationT; }
.item-tags { grid-area: tags; }
.item-ingredients { grid-area: ingredients; }
.item-steps { grid-area: steps; }
.item-nutrition { grid-area: nutrition; }
.item-images { grid-area: images; position: relative; }
.item-alergens { grid-area: alergens; }
.item-submit { grid-area: submit; }

.recipeWrapper{
  /* text-align: left; */
  display: grid;
  grid-template-areas:
    'title cuisine cuisine'
    'description description description'
    'serves cookingT preparationT'
    'categories tags alergens'
    'ingredients steps nutrition'
    'images images images'
    'submit submit submit';
  background-color: #e8edf2b3;
  padding: 10px 0px 10px 0px;
}

.recipeWrapper > div {
  text-align: left;
  padding: 7px 16px;
  font-size: 20px;
}

.divider1 { grid-area: divider1; }
.divider2 { grid-area: divider2; }
.divider3 { grid-area: divider3; }
.divider4 
{
   grid-area: divider4; 
   height: 40px;
}

.item-title h1{
  margin-top: 0;
  display: inline-flex;
  width: 83%;
}
.edit-link{
    position: absolute;
    right: 0px;
    color: #0000005c;
}

.edit-link:hover{
  color:#0000008a;
}
.recipeDetailsWrapper
{
  text-align: left;
  display: grid;
  grid-column-gap: 20px;
  padding: 25px;
  grid-template-areas:
    'images images title title title'
    'images images description description description'
    'images images divider1 divider1 divider1'
    'images images serves serves serves'
    'images images cookingT cookingT cookingT'
    'images images preparationT preparationT preparationT'
    'images images cuisine cuisine cuisine'
    'images images divider3 divider3 divider3'
    'images images categories categories categories'
    'images images alergens alergens alergens'
    'divider4 divider4 divider4 divider4 divider4'
    'steps steps steps ingredients ingredients'
    'steps steps steps nutrition nutrition';
  background-color: #e8edf2b3;
}

.recipeDetailsWrapper .tagWrapper{
  padding-right: 4px;
}

.favourite{
  display: inline;
  position: absolute;
  color: #7b7b7b;
  right: 11px;
  background: #c0c0c085;
  padding: 5px;
}

.categoryBox{
    display: inline;
    border: 1px solid black;
    padding: 5px;
    border-radius: 4px;
    background-color: #d5efef;
    margin: 2px;
}

.item-images img {
  border: 1px solid #979797;
  padding: 4px;
  background: white;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.item-tags input, .item-categories input, .item-alergens input{
  width: 100%;
}
.sectionBox{
  width: 33%;
  float: left;
}

.underline{
  width: 100%;
  font-size: 12px;
}

.underline div{
  display: inline;
  margin-left: 5px;
}

.underline span{
  font-weight: bold;
  
}

.section-title {
  margin-bottom: 5px;
}

.tagWrapper{
    border: 1px solid #979797;
    display: inline-flex;
    align-content: center;
    /* justify-content: center; */
    min-width: 0;
    padding-left: 4px;
    padding-right: 4px;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.84615385;
    background-color: #c8c8c8;
    margin: 0px 4px 5px 4px;
    position: relative;
    padding-right: 20px;
}

.recipeWrapper textarea{
  width: 100%;
  height: 200px;
}
.tagDelete{
  color: inherit;
    display: flex;
    align-content: center;
    align-self: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    margin-left: 4px;
    padding: 1px;
    border-radius: 3px;
    cursor: pointer;
    position: absolute;
    right: 0;
}

.tageDelete:hover{
  cursor: pointer;
  background-color: #e1e1e1;
}

.tag-clear{
  font-size: 16px;
}

.recipeWrapper input,textarea{
  border-width: 0px;
  border-radius: 3px;
  padding: 7px;
  font-size: 17px;
}
.recipeWrapper select{
  border-radius: 3px;
  padding: 7px;
  font-size: 17px;
  display: block;
}
.recipeWrapper input[type=number]
{
  width: 70px;
}

.transparent {
  background: transparent;
}

.btn{
  border: 1px solid green;
  background: #2cb16f;
  padding: 5px 15px 5px 15px;
  border-radius: 3px;
  color: whitesmoke;
  text-shadow: 0px 1px black;
  cursor: pointer;
}

.stashedList{
  display: inline-grid;
}

.tagsArea{
  background-color: #4e63784d;
    padding: 5px;
    border-radius: 3px;
}

.tagsPreviewArea{
  padding: 5px;
}
input:focus{
  outline: 0px;
}

.recipePreview{
  text-align: left;
}

.menubtn{
  text-transform: uppercase;
    padding: 5px;
    margin: 10px 0px 10px 0px;
    display: block;
    float: left;
    color: whitesmoke;
}

.menubtn-active{
  border-bottom: 1px solid #d9d9d9;
}
.Header{
    height: 50px;
    background: #3b3b3bed;
    position: relative;
}

.Header-links{
  margin-left: auto;
  margin-right: auto;
  display: inline-flex;
}

.link-btn
{
  position: absolute;
  display: inline;
  right: 0px;
  margin: 9px 10px 9px 0px;
  background: whitesmoke;
  padding: 5px;
  border-radius: 3px;
}

.link-btn a{
  color:black;
}

.Footer{
  height: 50px;
    background: #3b3b3bed;
}

.Collection
{
  text-align: left;
  background: silver;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 25px;
  padding-right: 25px;
  overflow: auto;
}

.Category{
  text-align: left;
    background: silver;
  height: inherit;
  display: block;
  padding: 20px 10px;
}

.Category > .title{
  text-align: left;
  margin-left: 20px;
  text-transform: capitalize;
  text-shadow: -1px 1px #dedede;
}

.RecipeList{
  overflow-y: auto;
  height: inherit;
}
/*  COLLECTION PAGE CSS BEGIN */
.recipe-card{
  max-width: 345px;
  float: left;
  margin: 12px 15px 0px 15px;
  text-align: left;
}

/*  COLLECTION PAGE CSS END */


.list-item{
  float: left;
  text-align: center;
  height: 200px;
  margin-left: 19px;
}
.collection-Item{
  display: flow-root;
}
.collection-Item > h1{
  text-shadow: -1px 1px #dedede;
}

.list-item img{
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 1px solid #939393;
  padding: 2px;
  background: #dbdbdb;
  object-fit: cover;
}


.MuiButtonBase-root{
  max-height: 313px;
  overflow: hidden;
}

.user{
  display: inline;
  position: absolute;
  background: grey;
  padding: 0px 10px 0px 10px;
  border-radius: 0 0 3px 3px;
  right: 100px;
  top:50px;
  min-width: 120px;
  z-index: 999;
}

.user ul{
  list-style: none;
  padding:0;
  text-align: right;
}

.user input{
  border-width: 0px;
  border-radius: 3px;
  padding: 7px;
  font-size: 17px;
  margin-bottom: 6px;
}

.recipesWrapper, .registerFormWrapper{
  /* background: #f2f2f278; */
  /* padding: 6px; */
  width: 100%;
  background: silver;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 100%;
  text-shadow: 0.5px 0.5px #acacac;
}

.registerFormWrapper input{
  border-width: 0px;
  border-radius: 3px;
  padding: 7px;
  font-size: 17px;
  margin-bottom: 6px;
}

.registerFormWrapper .label{
  text-align: right;
}

.registerFormWrapper .field{
  text-align: left;
}
.login-labels{
  margin-right:5px;
}

.user-bar{
  position: absolute;
  display: inline;
  right: 100px;
  margin: 9px 10px 9px 0px;
  color: whitesmoke;
  padding: 5px;
  border-radius: 3px;
}

.user-bar ul{
  list-style: none;
  display: flex;
  padding: 0px;
  margin: 0px;
  align-items: center;
}
.user-bar ul li{
  margin-right: 10px;
}
.user-bar .logo{
  width: 30px;
  height: 30px;
  border-radius: 50px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 590px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
  .Header{
    height: fit-content;
    min-height: 30px;
  }
  .link-btn {
    position: relative;
  }
  body{
    width: 100%;
    /* background-color: yellowgreen; */
  }

  .Header-links {
    height: inherit;
    display: grid;
    text-align: left;
    margin-left: 20px;
  }
  .recipeWrapper select{
    margin-left: auto;
    margin-right: auto;
  }
  .burger-btn {
    display: block;
  }
  .list-item img {
    width: 150px;
    height: 150px;
  }

  .list-item {
    height: unset;
    margin-left: 5px;
  }

  .recipeDetailsWrapper
  {
    text-align: left;
    display: grid;
    grid-column-gap: 20px;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-areas:
      'title '
      'images '
      'description '
      'divider1  '
      'serves '
      'cookingT '
      'preparationT '
      'cuisine '
      'divider3 '
      'categories '
      'alergens  '
      'divider4 '
      'steps '
      'ingredients '
      'nutrition ';
    background-color: #e8edf2b3;
  }

  .recipeWrapper{
    /* text-align: left; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-areas:
      'title'
      'description'
      'cuisine'
      'serves'
      'cookingT' 
      'preparationT'
      'categories'
      'tags'
      'alergens'
      'ingredients'
      'steps'
      'nutrition'
      'images'
      'submit';
    background-color: #e8edf2b3;
    padding: 10px 0px 10px 0px;
  }
  .Category {
    display: inline-table;
  }
  .stashedList {
    padding-left: 0px;
  }
  .recipesWrapper{
    display: table-footer-group;
  }

  .recipeWrapper textarea{
    padding: unset;
  }
}


@media only screen and (min-device-width: 500px) and (max-device-width: 900px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */

  .Header{
    height: fit-content;
    min-height: 30px;
  }
  .link-btn {
    position: relative;
  }
  .Header-links {
    height: inherit;
    display: grid;
    text-align: left;
    margin-left: 20px;
  }
  .recipe-card {
    max-width: 45%;
  }
  .recipeWrapper select{
    margin-left: auto;
    margin-right: auto;
  }

  .burger-btn {
    display: block;
  }

  .recipeWrapper textarea{
    padding: unset;
  }

  body{
    width: 100%;
    /* background-color: rebeccapurple; */
  }
  .recipesWrapper{
    display: table-footer-group;
  }

  .list-item img {
    width: 150px;
    height: 150px;
  }

  .list-item {
    height: unset;
    margin-left: 5px;
  }
  .Category {
    display: inline-table;
}
  .recipeDetailsWrapper
  {
    text-align: left;
    display: grid;
    grid-column-gap: 20px;
    padding: 20px;
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
    grid-template-columns: auto auto;
    grid-template-areas:
    'title title'
    'images images'
    'description description'
    'divider1 divider1'
    'serves cookingT '
    'preparationT cuisine '
    'divider3 divider3'
    'categories categories'
    'alergens alergens'
    'divider4 divider4 '
    'steps steps '
    'ingredients nutrition ';
    background-color: #e8edf2b3;
  }

  .recipeWrapper{
    /* text-align: left; */
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
    grid-template-columns: auto auto;
    grid-template-areas:
    'title title'
    'description description '
    'cookingT preparationT'
    'cuisine serves'
    'categories  alergens'
    'ingredients  nutrition'
    'steps tags'
    'images images '
    'submit submit ';
    background-color: #e8edf2b3;
    padding: 10px 0px 10px 0px;
  }

  .stashedList {
    padding-left: 0px;
  }

}